*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body
{
    background: linear-gradient(0deg, rgba(58, 23, 58, 0.7), rgba(53, 20, 53, 0.7)), url("Wall1.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    color: white;
    font-family: sans-serif;
}

.ProjectName{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);;
    margin-top: 50px;
    padding: 10px;
    display: block;
    width: 100%;
    background-color: rgba(70, 30, 70, 0.8);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.header
{
    
    font-style: italic;
    font-size: 60px;
    padding-bottom: 10px;
}

.HeadingBox
{
    display: block;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 30px;
    color: black;
    font-style: italic;
    text-transform: uppercase;
    background-color: rgba(224, 213, 224, 0.2);
    box-shadow: 0 4px 8px 0 rgba(53, 8, 53, 0.8);
    height: fit-content;
}

.header1
{
    font-style: italic;
    font-size: 40px;
    padding-bottom: 10px;
}

.content1
{
    padding: 20px;
    font-style: italic;
    font-size: 25px;
    color:  rgba(238, 228, 228, 0.8);
}

/*.Picture
{
    display: block;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 30px;
    color: black;
    font-style: italic;
    text-transform: uppercase;
    background-color: rgba(224, 213, 224, 0.2);
    box-shadow: 0 4px 8px 0 rgba(53, 8, 53, 0.8);
}*/

.logo
{
    float: right;
    margin-right: 20px;
}

.portals
{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    height: auto;
    width: 40%;
}
.portals1
{
    float: right;
    height: 200px;
    width: 40%;
}
.Learn
{
    font-style: "Comic Sans MS";
    text-align: center; 
    font-size: 40px;
    cursor: pointer;
    color: white
}
.btn 
{
    text-decoration: none;
    margin-top: 20px;
    border: transparent;
    padding: 10px 20px;
    color: white;

}
.btn:hover
{
    border: 1px solid white;
    transition: 0.8s ease;
}

@media screen and (max-width: 1500)
{
    .content1
    {
        font-size: 15px;
    }
}